.uploader-wrapper {
    height: 500px;
    width: 70vw;
    border: 1px solid #b6b3b3;
    border-radius: 16px;
}

.image-upload {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border: 1px solid #b9b6b6;
}
